<div class="row">
  <ng-container *ngFor="let p of product$ |async; let i = index">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{p.imageUrl}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{p.Title}}</h5>
          <p class="card-text">{{p.price| currency:'INR':true}}</p>
          <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="w-100" *ngIf="(i+1)%2 === 0"></div>
  </ng-container>
</div>